*{
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 0.9fr 1.1fr 1fr;
    grid-template-rows: 100px 700px  100px;
    gap: 1px 1px;
    grid-template-areas:
      "header header header header"
      "sidebarleft main main sidebarright"
      
      "footer footer footer footer";
  }
  
  .header { 
      grid-area: header;
      background-color: gold;
      height: auto;
      max-height: 100px;
    }
  
  .sidebarleft { grid-area: sidebarleft; background-color: green;}
  
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(auto, 170px));
    gap: 20px 1px;
    grid-template-areas:
      "newnotes "
      "newlistsection"
      "recentsection "
      "old ";
    grid-area: main;
    background-color: #ffffff11;
  }
  
  .newnotes { 
      grid-area: newnotes; 
      background-color: hotpink;
      max-height: 200px;
    }
  
  .newlistsection {
    
    grid-area: newlistsection;
    background-color: indianred;
  }
  
  .recentsection {
    
    grid-area: recentsection;
    background-color: indigo;
  }
  
  .old {
    
    grid-area: old;
    background-color: khaki;
  }
  
  .sidebarright { grid-area: sidebarright; background-color: lavender; }
  
  .footer { 
      grid-area: footer;
      background-color: black;
      color: white;
      max-height: 100px;
    }
  