* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.9fr 1.1fr 1fr;
      grid-template-columns: 1fr 1.9fr 1.1fr 1fr;
  -ms-grid-rows: 100px 1500px  100px;
      grid-template-rows: 100px 1500px  100px;
  gap: 1px 1px;
      grid-template-areas: "header header header header" "sidebarleft main main sidebarright" "footer footer footer footer";
}

@media screen and (max-width: 768px) {
  .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1.5fr 5fr 3fr 3fr 1.5fr;
        grid-template-rows: 1.5fr 5fr 3fr 3fr 1.5fr;
    gap: 10px;
        grid-template-areas: "header" "main" "sidebarleft" "sidebarright" "footer ";
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: header;
  background-color: gold;
  height: auto;
  max-height: 100px;
}

.sidebarleft {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: sidebarleft;
  background-color: green;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 11fr;
      grid-template-rows: 1fr 11fr;
      grid-template-areas: "heading"  "nav";
  gap: 1px;
}

.heading {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: heading;
}

.heading h2 {
  color: white;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  max-height: 450px;
}

nav ul.topiclist {
  list-style: none;
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
  padding-left: 10px;
}

nav ul.topiclist li {
  display: block;
  line-height: 30px;
}

nav ul.topiclist li a {
  font: 500 16px/24px '-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"';
  color: white;
  text-transform: uppercase;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (minmax(auto, 360px))[5];
      grid-template-rows: repeat(5, minmax(auto, 360px));
  gap: 20px 1px;
      grid-template-areas: "image" "newnotes " "newlistsection" "recentsection " "old ";
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: main;
  background-color: #fffffe;
}

@media screen and (max-width: 768px) {
  .main {
    -ms-grid-rows: (minmax(auto, 360px))[5];
        grid-template-rows: repeat(5, minmax(auto, 360px));
  }
}

.image > picture > img {
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newnotes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: newnotes;
  background-color: hotpink;
  max-height: 250px;
}

.newlistsection {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: newlistsection;
  background-color: indianred;
}

.recentsection {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: recentsection;
  background-color: indigo;
  color: #ffffff;
}

.old {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: old;
  background-color: khaki;
}

.sidebarright {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: sidebarright;
  background-color: lavender;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footer;
  background-color: black;
  color: white;
  max-height: 100px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */